body {
  padding: 32px;
  background-color: #298ed1;
}

label {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 4px;
}

#username,
#password {
  font-size: 16px;
  outline: none;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.54);
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.87);
  min-width: 240px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #5fd0df;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  margin-top: 16px;
  min-width: 240px;
  cursor: pointer;
}